<% if @itisme %>
	<%= render partial: 'users/render_add_avatar_modal' %>
<% end %>


<div class ="textured-border col-10 offset-1">
	<div>
		<h2 class="accent-color profile-header dark-text-shadow">
			<% if @itisme %>
				My profile (<%= @user.email %>)
			<% else %>
				Viewing <%= @user.email %>'s profile
			<% end %>
		</h2>
	</div>

	<div class="booyah-box">
		<div class="row">
			<div class="col-8" style="font-family: 'Rubik', sans-serif;">
				<h5>
					<div class="row">
						<div class="col-6">
							<i class="fa fa-calendar"></i>&nbsp;
							<b>Member since</b>
						</div>

						<div class="col-6">
							<%= @user.created_at.strftime("%b %e %Y") %>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<i class="fa fa-map" style="color: inherit; font-size: inherit;"></i>&nbsp;
							<b>Places posted</b>
						</div>

						<div class="col-6">
							<%= @user.places.count %>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<i class="fa fa-comments"></i>&nbsp;
							<b>Comments</b>
						</div>

						<div class="col-6">
							<%= @user.comments.count %>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							<i class="fa fa-star"></i>&nbsp;
							<b>5-Star Reviews</b>
						</div>

						<div class="col-6">
							<%= @user.comments.where(:rating => 5).count %>
						</div>
					</div>
				</h5>
			</div>

			<div class="float-right">
				<% if @user.picture.file.present? %>
					<%= render partial: 'users/render_avatar' %>
				<% else %>
					<div class="avatar-placeholder">
						<i class="fa fa-user accent-color"></i>
					</div>
				<% end %>

				<% if @itisme %>
					<%= link_to '#', data: {toggle: 'modal', target: "#add_avatar_photo_modal"} do %>
						<i class="fa fa-edit active_link hover-scale" data-toggle="tooltip" title="Edit Avatar"></i>
					<% end %>
				<% end %>
			</div>
			<div class="col-1">&nbsp;</div>
		</div>
	</div>
</div>


<br>

<div class="clear"></div>

<div class ="textured-border col-10 offset-1">
	<h2 class="accent-color profile-header dark-text-shadow">Comments</h2>
</div>
<% if @user.comments.present? %>
	<div class ="textured-border col-10 offset-1 row">

	<% if @user.comments.count > 1 %>
		<div class="row col-10 offset-1">
			<% @user.comments.each do |c| %>
				<%= render partial: 'comments/render_comment_snippet', locals: {comment: c, context: true} %>
			<% end %>
		</div>
	<% elsif @user.comments.count == 1 %>
		<div class="col-4">&nbsp;</div>
		<div class="col-8">
			<%= render partial: 'comments/render_comment_snippet', locals: {comment: @user.comments.first, context: true} %>
		</div>
	<% end %>

	</div>
<% end %>

<br>
<div class="clear"></div>

<div class ="textured-border col-10 offset-1">
	<h2 class="accent-color profile-header dark-text-shadow">Places</h2>
</div>
<% if @user.places.present? %>
	<div class="row">
		<% @user.places.each do |p| %>
			<%= render partial: 'places/render_place', locals: {place: p} %>
		<% end %>
	</div>
<% end %>

<br>
<div class="clear"></div>

<div class ="textured-border col-10 offset-1">
	<h2 class="accent-color profile-header dark-text-shadow">Photos</h2>
</div>
<div class="col-10 offset-1">
	<div class="row">
		<% @user.photos.each do |p| %>
			<%= render partial: 'photos/render_thumbnail', locals: {photo: p} %>
		<% end %>
	</div>
</div>
