<div cass="col-1" style="display: inline-block; width: 100%; max-width: 175px; max-height: 200px;">
	<%= link_to '#', data: {toggle: 'modal', target: "#photo_modal_#{photo.id}"} do %>
		<%= image_tag photo.picture.thumb.url, :class => "picture-thumbnail" %>
	<% end %>

	<div >
		<p class="caption"><%= photo.caption %></p>

		<!-- if displayed outside the place's context, link back to the place -->
		<% if defined?(context) && context %>
			<%= link_to place_path(:id => photo.place_id), :class => "active_link hover-scale accent-color" do %>
				&nbsp;<i class="fa fa-link active_link hover-scale" data-toggle="tooltip" title="<%= photo.place.name %>"></i>
			<% end %>
		<% end %>

		<% if user_signed_in? && current_user.id == photo.user_id %>
			<%= link_to photo_path(:id => photo.id), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} do %>
				&nbsp;<i class="fa fa-trash active_link hover-scale" data-toggle="tooltip" title="Delete"></i>
		 	<% end %>
	 	<% end %>
 	</div>
</div>


<div class="modal modal-wide fade" id="photo_modal_<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="photo_modal_<%= photo.id %>" aria-hidden="true" style="padding:0px; max-width: 65vw;  top: 40vh;">
	<div class="textured-border" style="margin: 0px; display: inline-block;">
		<div class="modal-dialog modal-dialog-wide booyah-box" role="document" style="padding:0px; max-width: 65vw; display: inline-block;">
			<div class="modal-content">
				<%= image_tag photo.picture.url, :class => "img-fluid" %>

				
				<button type="button" class="btn btn-warning top-right-absolute" data-dismiss="modal" aria-label="Close">
				Close
				</button>
				
			</div>
		</div>
	</div>
</div>
