<div class ="textured-border col-10 offset-1">
	<div class="place-toolbar">
			
		
	
		<% if user_signed_in? && current_user.id == place.user_id %>
			<%= link_to edit_place_path(:id => place.id) do %>
				<i class="fa fa-edit"></i>
			<% end %>
			<% else %>
				<i class="fa fa-edit grey-transperant"></i>
		<% end %>

		<hr class="vertical">

		<i class="fa fa-heart red-heart"></i>

		<i class="fa fa-heart grey-transperant"></i>

		<hr class="vertical">

		<div class="rating">
			<i class="fa fa-star accent-star"></i>
			<i class="fa fa-star accent-star"></i>
			<i class="fa fa-star-half accent-star"></i>
			<i class="fa fa-star-half grey-star mirror grey-transperant"></i>
			<i class="fa fa-star grey-star grey-transperant"></i>
			<i class="fa fa-star grey-star grey-transperant"></i>
		</div>
	</div>
	<div class="booyah-box">
		<h1><%= place.name %></h1>
		<i><%= place.address %></i><br>
		<p><%= place.description %></p><br>

	    <% if place.user.present? %>
	      <small><%= place.user.email %></small>
	    <% end %>
	</div>
</div>