<div class="modal modal-wide fade" id="edit_modal_<%= place.id %>" tabindex="-1" role="dialog" aria-labelledby="edit_modal_<%= place.id %>" aria-hidden="true" style="padding:0px;">
<div class="textured-border" style="margin: 0px;">
  <div class="modal-dialog modal-dialog-wide booyah-box" role="document" style="padding:20px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="edit_modal_<%= place.id %>">Enter Your Place Detail</h4>
      </div>

      <%= simple_form_for place do |f| %>
        <%= f.input :name, :input_html => { :value => place.name } %>
        <%= f.input :address, :input_html => { :value => place.address } %>
        <%= f.input :description, :input_html => { :value => place.description } %>

        <br>
        <div style="align-content: center; text-align: center;">
          <%= f.submit 'Update', class: 'btn btn-primary' %>
          &nbsp;
          <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
            Cancel
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
