<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider/slider1.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>City Life</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider/slider2.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>Solitude</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider/slider3.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>The Sound Of Music</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider/slider4.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>Beachfront Views</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider/slider5.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>Majestic Sunset</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider/slider6.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>Electric</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider/slider7.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>San Francisco In Spring</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'slider/slider8.jpg', class: 'd-block img-fluid' %>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-container">
          <h3>Turkish Delight</h3>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="navbar-footer"></div>