<div class="row">
	<!-- the gallery -->
	<div class="col-11 p-2 row">
		<% place.photos.each do |f| %>
			<%= render partial: "render_thumbnail", locals: {photo: f} %>
		<% end %>
	</div>

	<!-- add button -->
	<% if user_signed_in? %>
	<div class="col-1">
		<%= link_to '#', data: {toggle: 'modal', target: "#add_photo_modal"} do %>		
			<div class="photo_add_button accent-color active_link hover-scale" data-toggle="tooltip" title="Add Photo">
				<i class="fa fa-camera"></i>
			</div>
		<% end %>
	</div>
	<% end %>
</div>


<!-- add modal -->
<div class="modal modal-wide fade" id="add_photo_modal" tabindex="-1" role="dialog" aria-labelledby="add_photo_modal" aria-hidden="true" style="padding:0px;">
<div class="textured-border" style="margin: 0px;">
  <div class="modal-dialog modal-dialog-wide booyah-box" role="document" style="padding:20px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_photo_modal">Add photo</h4>
      </div>

      <%= simple_form_for place.photos.new, url:  place_photos_path(place) do |f| %>
	      <%= f.file_field :picture %>
	      <%= f.input :caption %>
	      <br>
	      <div style="align-content: center; text-align: center;">
	          <%= f.submit 'Add', class: 'btn btn-primary' %>
	          &nbsp;
	          <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">
	            Cancel
	          </button>
	      </div>
      <% end %>
    </div>
  </div>
</div>
</div>