<%= render partial: "render_edit_modal", locals: {place: place} %>

<div class ="textured-border col-10 offset-1">
	
	<!-- toolbox above the place -->
	<div class="place-toolbar">
		<!-- options for logged-in user only -->
		<% if user_signed_in? %>
			<% if current_user.id == place.user_id %>

				<%= link_to '#', data: {toggle: 'modal', target: "#edit_modal_#{place.id}"} do %>
					<i class="fa fa-edit active_link hover-scale"></i>
				<% end %>

				<!-- Edit via form instead of modal
				< -- %= link_to edit_place_path(:id => place.id) do %>
					<i class="fa fa-edit"></i>
				< -- % end %>
				-->

				<hr class="vertical">

				<%= link_to place_path(:id => place.id), method: :delete, data: {confirm: 'Are you sure you want to delete this?'} do %>
					<i class="fa fa-trash active_link hover-scale"></i>
			 	<% end %>

			<% else %>
					<i class="fa fa-edit grey-transperant"></i>

					<hr class="vertical">

					<i class="fa fa-trash grey-transperant"></i>
			<% end %>

			<hr class="vertical">

			<!-- #TODO check if the user liked this place -->
			<i class="fa fa-heart red-heart active_link hover-scale"></i>
			<i class="fa fa-heart grey-transperant active_link hover-scale"></i>

			<hr class="vertical">

		<% end %>

		<!-- options for all user -->

		<% if rating > 0 %>
			<%= render partial: 'render_rating', locals: {rating: rating} %>
		<% end %>

		<% unless defined?(@supress_self_link) && @supress_self_link %>
			<hr class="vertical">
			<%= link_to place_path(:id => place.id) do %>
				<i class="fa fa-external-link active_link hover-scale"></i>
			<% end %>
		<% end %>
	</div>

	<!-- the actual place -->
	<div class="booyah-box">
		<div style="display: inline-block; width: 100%;">
			<div class="title accent-color"><%= place.name %></div>
			
			<% if place.latitude.present? && place.longitude.present? %>
				<%= render partial: "render_map_modal", locals: {place: place} %>
				<div class="address active_link accent-color">
				<%= link_to '#', data: {toggle: 'modal', target: "#map_modal_#{place.id}"}, class: "active_link accent-color" do %>
					<%= place.address %>
					<i class="fa fa-map-marker hover-scale" style="font-size: 18px;"></i>
				<% end %>
			<% else %>
				<div class="address">
				<%= place.address %>
				<i class="fa fa-map-marker grey-transperant" style="font-size: 18px;"></i>
			<% end %>
			</div>
		</div>

		<hr>

		<p class="message"><%= place.description %></p><br>
		
		<% if defined?(comment) && comment && !place.comments.blank? %>
			<%= render partial: "render_comment_snippet", locals: {comment: place.comments.last} %>
		<% end %>

		<hr>

	    <% if place.user.present? %>
		    <div style="display: inline-block; width: 100%;">
		      <div class="email_address"><%= place.user.email %></div>
		      <div class="date"><%= place.created_at.strftime("%b %e %Y") %></div>
		    </div>
	    <% end %>

	    <% if defined?(gallery) && gallery %>
	    	<hr>
	    	
	    	<%= render partial: "render_photo_gallery", locals: {place: place} %>
	    <% end %>
	</div>
</div>