<!DOCTYPE html>
<html>
  <head>
    <title>Nomster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
      <button class="navbar-toggler navbar-toggler-right accent-color-background" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="accent-color navbar-brand" href="<%= root_path %>">Nomster</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <% if user_signed_in? %>
            <!-- signed in -->
            <li class="nav-item">
              <%= link_to new_place_path, class: 'nav-link accent-color dark-text-shadow' do %>
                <i class="fa fa-plus-circle"></i> New Place
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to  destroy_user_session_path, method: :delete, class: "nav-link accent-color dark-text-shadow" do %>
                <i class="fa fa-sign-out"></i> Sign Out
              <% end %>
            </li>
            <!-- /signed in -->
          <% else %>
            <!-- not signed in -->
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link accent-color dark-text-shadow" do %>
                <i class="fa fa-sign-in"></i> Sign In
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link accent-color dark-text-shadow" do %>
                <i class="fa fa-user-plus"></i> Register
              <% end %>
            </li>
            <!-- /not signed in -->
          <% end %>
        </ul>


      </div>
    </nav>
    <!-- /navbar -->

    <% if flash[:error].present? %>
      <div class="col-5 offset-1 alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:success].present? %>
      <div class="col-5 offset-1 alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>
    
    <%= yield %>
    &nbsp;<br>
    &nbsp;<br>
    &nbsp;<br>
    <div class="footer">
      <a class="" type="button" data-toggle="collapse" data-target="#footercollapse" aria-controls="footercollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-angle-double-up accent-color popup-double-up dark-text-shadow"></i>
      </a>

      <div class="navbar-collapse collapse" id="footercollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item accent-color dark-text-shadow">About</li>
          <li class="nav-item accent-color dark-text-shadow">Contact</li>
        </ul>
      </div>
    </div>
  </body>
</html>
