<!DOCTYPE html>
<html>
  <head>
    <title>Nomster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GEOCODER_API_KEY'] %>">
    </script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render partial: 'places/render_new_modal' %>
    <% end %>

    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
      <button class="navbar-toggler navbar-toggler-right accent-color-background active_link hover-scale" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="accent-color navbar-brand dark-text-shadow active_link hover-scale" href="<%= root_path %>">Nomster</a>

      <% if user_signed_in? %>
        <%= link_to root_path do %>    
          <div class="avatar_button accent-color active_link hover-scale" data-toggle="tooltip" title="Profile (<%= current_user.email %>)">
            <i class="fa fa-user"></i>
          </div>
        <% end %>
      <% else %>
        <div></div>
      <% end %>

      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <!-- home -->
          <li class="nav-item active_link">
            <%= link_to root_path, class: "nav-link accent-color dark-text-shadow" do %>
              <i class="fa fa-home"></i> Home
            <% end %>
          </li>

          <!-- gallery -->
          <li class="nav-item active_link">
            <%= link_to photos_path, class: "nav-link accent-color dark-text-shadow" do %>
              <i class="fa fa-camera"></i> Photo Gallery
            <% end %>
          </li>

          <% if user_signed_in? %>
            <!-- signed in -->

            <!-- new place -->
            <li class="nav-item active_link">
              <%= link_to '#', data: {toggle: 'modal', target: "#new_place_modal"}, class: "nav-link accent-color dark-text-shadow" do %>
                <i class="fa fa-plus-circle"></i> New Place
              <% end %>
            </li>

            <!-- sign out -->
            <li class="nav-item active_link">
              <%= link_to  destroy_user_session_path, method: :delete, class: "nav-link accent-color dark-text-shadow" do %>
                <i class="fa fa-sign-out"></i> Sign Out
              <% end %>
            </li>
            <!-- /signed in -->
          <% else %>
            <!-- not signed in -->

            <!-- sign in -->
            <li class="nav-item active_link">
              <%= link_to new_user_session_path, class: "nav-link accent-color dark-text-shadow" do %>
                <i class="fa fa-sign-in"></i> Sign In
              <% end %>
            </li>

            <!-- register -->
            <li class="nav-item active_link">
              <%= link_to new_user_registration_path, class: "nav-link accent-color dark-text-shadow" do %>
                <i class="fa fa-user-plus"></i> Register
              <% end %>
            </li>
            <!-- /not signed in -->
          <% end %>

        </ul>
      </div>
    </nav>
    <!-- /navbar -->

    <% if flash[:error].present? %>
      <div class="col-5 offset-1 alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:success].present? %>
      <div class="col-5 offset-1 alert alert-success">
        <%= flash[:success] %>
      </div>
    <% end %>

    <%= yield %>
    &nbsp;<br>
    &nbsp;<br>
    &nbsp;<br>
    <div class="footer">
      <a class="active_link" type="button" data-toggle="collapse" data-target="#footercollapse" aria-controls="footercollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-angle-double-up accent-color popup-double-up dark-text-shadow"></i>
      </a>

      <div class="navbar-collapse collapse" id="footercollapse">  
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            
            <li class="nav-item accent-color dark-text-shadow">
              <i class="fa fa-phone"></i> Contact
            </li>

            <li class="nav-item accent-color dark-text-shadow">
              <i class="fa fa-info-circle"></i> About
            </li>

          </ul>
      </div>
    </div>
  </body>
</html>
